{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Bienvenue
        {% if (app.user) %}
            {{ app.user.username }}
        {% endif %}
    </h1>

    {% for pic in galleryListAll %}
        <h3>{{ pic.name }}</h3><br>
        <img class="card-img-top" src="{{ pic.imgURL }}" alt="Card image">


        Propriétaire:
        <a href="{{ path('userProfile', {'userId': pic.user.id}) }}">{{ pic.user.username }}</a><br>
        Dessinateur: {{ pic.artist }}<br>
        Description: {{ pic.description }}<br>
        Catégorie: {{ pic.category.catName }}<br>
    {% endfor %}

    <br>

    {% for i in range(1, nbPage) %}
        {% if page == i - 1 %}
            <b><a href="{{ path('home',{'page': i - 1}) }}">{{ i }}</a></b>
        {% else %}
            <a href="{{ path('home',{'page': i - 1}) }}">{{ i }}</a>
        {% endif %}
        {% if not loop.last %}
            &nbsp;-&nbsp;
        {% endif %}
    {% endfor %}

{% endblock %}
